<div class="employee-list container mt-4">
  <div class="header-section">
    <h2 class="text-center mb-3 page-title">👨‍💼 Employee Directory</h2>

    <div class="search-box mb-3">
      <input type="text" class="form-control search-input"
        placeholder="🔍 Search employees by name, email or department..." [(ngModel)]="searchText">
    </div>
  </div>

  <div class="table-container shadow-lg rounded-4 overflow-auto">
    <table class="table custom-table align-middle mb-0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Department</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees" (click)="employeeDetails(emp.id)">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.email }}</td>
          <td>{{ emp.phone }}</td>
          <td>{{ emp.dept }}</td>
          <td class=" text-center">
            <button (click)="updateEmployee(emp.id)" class="btn btn-sm btn-update me-2">✏️ Update</button>
            <button (click)="deleteEmployee(emp.id)" class="btn btn-sm btn-delete me-2">🗑️ Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>