<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-20">
            <div class="profile-card shadow-lg rounded-4 p-5 animate__animated animate__fadeInUp">

                <div class="text-center mb-4">
                    <img src="https://i.pravatar.cc/200" alt="Profile Picture"
                        class="profile-img rounded-circle shadow">
                </div>

                <h2 class="text-center fw-bold mb-2 profile-name">Narsing Gurme</h2>
                <p class="text-center profile-role">Software Engineer | EMS</p>

                <div class="text-center mt-3 mb-4">
                    <p class="quote-text">
                        <span id="quote"></span>
                    </p>
                </div>

                <hr>

                <div class="row text-center">
                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">Email</h5>
                        <p class="text-muted word-wrap">narsing.gurme&#64;gmail.com</p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">Phone</h5>
                        <p class="text-muted">+91 7666255871</p>
                    </div>
                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">Role</h5>
                        <p class="text-muted">Admin</p>
                    </div>
                </div>

                <hr>

                <div class="row mt-3 text-center">
                    <div class="col-md-6">
                        <h6 class="fw-bold">Department</h6>
                        <p class="text-muted">IT</p>
                    </div>
                    <div class="col-md-6">
                        <h6 class="fw-bold">Joining Date</h6>
                        <p class="text-muted">15th March 2022</p>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button class="btn btn-bhagwa me-2 shadow-sm">Edit Profile</button>
                    <button class="btn btn-outline-bhagwa shadow-sm">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>