<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav me-auto" *ngIf="authState.isLoggedIn()">
                <li class=" nav-item">
                    <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
                </li>
                <li class="nav-item">
                    <button (click)="logout()" class="btn btn-outline-light me-2">Logout</button>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto" *ngIf="!authState.isLoggedIn()">
                <li class="nav-item">
                    <a routerLink="login" routerLinkActive="active" class="btn btn-outline-light me-2">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="signup" routerLinkActive="active" class="btn btn-outline-light me-2">Signup</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container main-content">
        <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        <div class="container">
            <span>All rights reserved ©2025</span>
        </div>
    </footer>
</div>