<nav class="navbar navbar-expand-sm navbar-dark py-2 bg-dark fixed-top">
    <div class="container">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
            </li>
            <li class="nav-item" *ngIf="authservice.isLoggedIn() && authservice.isAdmin()">
                <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
            </li>
            <li class="nav-item" *ngIf="authservice.isLoggedIn() && authservice.isAdmin()">
                <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto" *ngIf="authservice.isLoggedIn()">
            <li class="nav-item">
                <button (click)="onLogout()" class="btn btn-custom me-2">Logout</button>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto" *ngIf="!authservice.isLoggedIn()">
            <li class="nav-item">
                <a routerLink="login" class="btn btn-custom me-2">Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="signup" class="btn btn-custom me-2">Signup</a>
            </li>
        </ul>
    </div>
</nav>
<main class="flex-grow-1 mt-2 pt-3">
    <router-outlet></router-outlet>
</main>

<footer class="footer bg-dark text-light text-center py-2 mt-auto ">
    Made with ❤️ by Narsing Gurme & Team
</footer>