.update-employee-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(to right, #a47c3a, #d5442a);
    padding: 20px;
}

.update-employee-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.floating-label {
    font-size: 0.9rem;
    color: #555;
}

.btn-gradient-hover {
    background: linear-gradient(to right, #a8a3ad, #951974);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.btn-gradient-hover:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}