<div class="update-employee-wrapper">
    <div class="update-employee-card">
        <h3 class="update-title text-center mb-4">Update Employee Details</h3>

        <form (ngSubmit)="onSubmit()" [formGroup]="empForm">
            <!-- ID -->
            <div class="form-group mb-3">
                <label class="fw-bold">ID:</label>
                <input class="form-control" formControlName="id" readonly>
            </div>

            <!-- Name -->
            <div class="form-group mb-3">
                <label class="fw-bold">Full Name:</label>
                <input class="form-control" formControlName="name">
                <span class="text-danger" *ngIf="empForm.get('name')?.touched && empForm.get('name')?.invalid">
                    Name is required (min 3 chars).
                </span>
            </div>

            <!-- Email -->
            <div class="form-group mb-3">
                <label class="fw-bold">Email Id:</label>
                <input type="email" class="form-control" formControlName="email">
                <span class="text-danger" *ngIf="empForm.get('email')?.touched && empForm.get('email')?.invalid">
                    Valid email is required.
                </span>
            </div>

            <!-- Phone -->
            <div class="form-group mb-3">
                <label class="fw-bold">Phone No:</label>
                <input type="text" class="form-control" formControlName="phone">
                <span class="text-danger" *ngIf="empForm.get('phone')?.touched && empForm.get('phone')?.invalid">
                    10-digit phone number required.
                </span>
            </div>

            <!-- Department -->
            <div class="form-group mb-4">
                <label class="fw-bold">Department:</label>
                <input type="text" class="form-control" formControlName="dept">
                <span class="text-danger" *ngIf="empForm.get('dept')?.touched && empForm.get('dept')?.invalid">
                    Department is required.
                </span>
            </div>
            <div class="form-group mb-4">
                <label class="fw-bold">Designation:</label>
                <input type="text" class="form-control" formControlName="designation">
                <span class="text-danger"
                    *ngIf="empForm.get('designation')?.touched && empForm.get('designation')?.invalid">
                    Department is required.
                </span>
            </div>
            <div class="form-group mb-4">
                <label class="fw-bold">Age:</label>
                <input type="text" class="form-control" formControlName="age">
                <span class="text-danger" *ngIf="empForm.get('age')?.touched && empForm.get('age')?.invalid">
                    Department is required.
                </span>
            </div>
            <div class="form-group mb-4">
                <label class="fw-bold">Salary:</label>
                <input type="text" class="form-control" formControlName="salary">
                <span class="text-danger" *ngIf="empForm.get('salary')?.touched && empForm.get('salary')?.invalid">
                    Department is required.
                </span>
            </div>
            <div class="form-group mb-4">
                <label class="fw-bold">Joining Date:</label>
                <input type="text" class="form-control" formControlName="joiningDate">
                <span class="text-danger"
                    *ngIf="empForm.get('joiningDate')?.touched && empForm.get('joiningDate')?.invalid">
                    Department is required.
                </span>
            </div>

            <div class="text-center">
                <button class="btn submit-btn" type="submit" [disabled]="empForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>