<div class="col-md-5 offset-md-3">
    <h3>Update Employee here...</h3>
    <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="empForm">
            <div class="col-4 fw-bold">ID:</div>
            <div class="col-8">
                <input class="form-control" formControlName="id" readonly />
            </div>
            <div class="form-group">
                <label class="fw-bold">Full Name:</label>
                <input class="form-control" formControlName="name">
                <span class="text-danger" *ngIf="empForm.get('name')?.touched &&  empForm.get('name')?.invalid">
                    Name is required and must be atleast 3 charecters.
                </span>
            </div>
            <div class="form-group">
                <label class="fw-bold" >Email Id:</label>
                <input type="text" class="form-control" formControlName="email">
                <small class="text-danger" *ngIf="empForm.get('email')?.touched && empForm.get('email')?.invalid">
                    Email is required.
                </small>
            </div>
            <div class="form-group">
                <label class="fw-bold">Phone No:</label>
                <input type="text" class="form-control" formControlName="phone">
                <small class="text-danger" *ngIf="empForm.get('phone')?.touched && empForm.get('phone')?.invalid">
                    Valid 10-digit phone number is required.
                </small>
            </div>
            <div class="form-group">
                <label class="fw-bold">Department:</label>
                <input type="text" class="form-control" formControlName="dept">
                <small class="text-danger" *ngIf="empForm.get('dept')?.touched && empForm.get('dept')?.invalid">
                    Department is required.
                </small>
            </div>
            <br>
            <button class="btn btn-success" type="submit" [disabled]="empForm.invalid">Submit</button>
        </form>
    </div>
</div>