<div class="forgot-hero d-flex vh-100">
    <div class="forgot-info d-flex flex-column justify-content-center align-items-center text-white p-5">
        <h1 class="fw-bold">Reset Your Password</h1>
        <p class="lead">
            “Security is priority — reset your password to keep your account safe.”
        </p>
    </div>

    <div class="forgot-container d-flex justify-content-center align-items-center">
        <div class="card shadow-lg border-0 rounded-4 p-4 forgot-card">
            <h3 class="mb-4 text-center fw-bold text-gradient">Forgot Password</h3>

            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
                <div *ngIf="step === 1" class="mb-3">
                    <label class="form-label fw-semibold">Username</label>
                    <input type="text" class="form-control" formControlName="username"
                        placeholder="Enter your username" />
                </div>

                <!-- Step 2 -->
                <div *ngIf="step === 2">
                    <div class="mb-3">
                        <label class="form-label fw-semibold">New Password</label>
                        <input type="password" class="form-control" formControlName="newPassword"
                            placeholder="Enter new password" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                            placeholder="Confirm password" />
                    </div>
                </div>

                <button class="btn btn-gradient w-100 fw-semibold" type="submit" [disabled]="loading">
                    {{ step === 1 ? 'Send Reset Link' : 'Reset Password' }}
                    <div *ngIf="loading" class="dot-loader mt-3 d-flex justify-content-center">
                        <span></span><span></span><span></span><span></span>
                    </div>
                </button>

            </form>

            <div class="text-center mt-3">
                <a routerLink="/login" class="text-decoration-none text-gradient fw-semibold">
                    ⬅ Back to Login
                </a>
            </div>
        </div>
    </div>
</div>